---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Author'
    value: page.author
  - label: 'Notebook'
    value: page.label
  - label: 'Dates'
    value: page._dates
  - label: 'Type'
    value: page.object_type
  - label: 'Repository'
    value: page.repository
  - label: 'Repository ID'
    value: page.repository_id
  - label: 'Description'
    value: page.notebook_description
  - label: 'Recto Transcription'
    value: page.recto_transcription
  - label: 'Verso Transcription'
    value: page.recto_transcription
  - label: 'Rights'
    value: page.rights
    type: link
  - label: 'Editor Intro'
    value: page.editors_intro
    type: link
  - label: 'Edition Publication Date'
    value: page.edition_published
  - label: 'Digital Editor'
    value: page.digital_editor
  - label: 'Edition Documentation'
    value: page.edition_docs

    
    type:  link
  - label: 'TEI XML file'
    value: page.tei_file
    type:  link 
    
      
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
